body{
    margin: 10px 80px 10px 80px;
    font-family: "Outfit", sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: rgb(247 181 0);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgb(247, 0, 0);
    height: 110px;
}
h1{
    font-size: 50px;
    color: white;
}

h2{
    font-size: 35px;
    color: white;
}

h4{
    font-size: 25px;
    color: white;
}

li{
    list-style-type:square;
    list-style-position: inside;
    font-size: 25px;
    color: white;
   text-align:center;
   
}
.navbar{
    display: grid;
    grid-template-columns: 300px ;
    justify-items: center;
    gap: 15px;
    margin-right: 40px;
}

a{
    text-decoration: none;
}

.link{
    font-size: 20px;
    text-align: center;
    align-content: center;
    width: 150px;
    height: 35px;
    background-color: rgb(247 58 0);
    border-radius: 20px;
    border: 2px solid rgb(247, 0, 0);
    color: rgb(255, 255, 255);
}

.link:hover{
    pointer-events: fill;
    transform: scale(1.05);
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    background-color:  rgb(247 181 0);
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
    padding: 15px;
    height: 650px;
    border: 1px solid rgb(247, 0, 0);
    justify-items: center;
}

.section1{
    display: grid;
    grid-template-rows: 250px 150px;
    gap: 10px;
    text-align: center;
}

.section2{
    background-color: rgb(247 58 0);
    border-radius: 20px;
    height: 650px;
   justify-content: start;
}

.formulario1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 20px;
    align-items: center;

}

input{
    width: 350px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;

}

button{
    font-size: 20px ;
    text-align: center;
    width: 120px;
    height: 38px;
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    border: 2px double rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}

button:hover{
    transform: scale(1.05);
    
}

.haciamascotas{
    font-size: 30px;
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    border: 2px double rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}
.main2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:  rgb(247 181 0);
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
    padding: 15px;
    height: 650px;
    border: 1px solid rgb(247, 0, 0);

    
}
.section3{
    display: flex;
    height: 350px;
    width: auto;
    padding: 10px;
    justify-content: center;
}

.imgtodos{
    border-radius: 20px;
    height: 350px;

} 

.section4{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 250px;
    width: auto;
    gap: 20px;

}

.section4 img{
    border-radius: 20px;
    height: 250px;
}

footer{
    display: grid;
    grid-template-rows: 30px 30px 30px;
    border-radius: 10px;
    border: 1px solid rgb(247, 0, 0);
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color:  rgb(247 181 0);

}
h3{
    font-size: 14px;
    align-content: center;
    text-align: center;
    color: white;
}
