body{
    margin: 10px 80px 10px 80px;
    font-family: "Outfit", sans-serif;

}

header{
    background-color: rgb(247, 202, 79);
    padding: 15px;
    height: 110px;
}

.navbar{
    display: grid;
    grid-template-columns: 300px ;
    justify-items: center;
    gap: 15px;
    margin-right: 40px;
}

footer{
    background-color: rgb(247, 202, 79);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}