
.register-section-1{
    width: 90%;          
    max-width: 1280px;   
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}

.resgister-article-1{
    display: flex;
    flex-direction: column;
    gap:10px; 
}

input{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    background-color: #535bf2;
    color: #ffffff;
    text-align: center;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.747);
    opacity: 1; /* Importante: Firefox le baja la opacidad por defecto */
}
