
<nav class="navbar">
    <a href="/" class ="data-link">Inicio</a>
    <a href="/register" class ="data-link">Register</a>
    <a href="/login" class ="data-link">Login</a>
</nav>
<section class="register-section-1">
    <h1>Inicio de Sesion</h1>
    <form class="resgister-article-1">
        Email<input id="email_1" type="email" placeholder="email: @">
        Contraseña<input id="password_1" type="password" placeholder="Contraseña $#/-">
    </form>
    <button id="buttonI">Iniciar Sesion</button>   
</section>

<script type="module" src="../../src/main.js"></script>