body{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 2fr 2fr 2fr;
}

header{
   grid-column: 2/4;
    grid-row: 3/4;
}

p{
    grid-column: 3/5;
    grid-row: 1/3;
}

a{
    grid-column: 1/2;
    grid-row: 2/3;
}

