body{
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin: 80px;
    height: 80vh;
    gap: 20px;
    
}

header{
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(0, 195, 255);
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
}

.navbar{
   display: grid;
   grid-template-columns: 100px 100px 100px;
   justify-content: end;
   align-items: center;
   gap: 10px;
}

a{
    align-content: center;
    background-color: rgb(0, 153, 255);
    text-align: center;
    border-radius: 10px;
    height: 25px;
    color: aliceblue;
    font-family: Georgia;
}
.contenedor{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.dadSection{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top:  10px;
}
.section1{
    display: grid;
    width: auto;
    height: 300px;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
   

}

.divs{
    background-color:rgb(0, 195, 255);
    justify-items: end;
    border-radius: 10px;
}

.section2{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}
.section3{
    margin-top: 10px;
    background-color: rgb(0, 195, 255);
    height:  100%;
    border-radius: 10px;
}
h3{
    color: white
}


