section{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;

    flex-wrap: wrap;
}

article{
    background-color: aqua;
    row-gap: 10px;
    height: 20vh;
    width: 20%;
    align-content: center;
    text-align: center;
}

.tres{
    display: flex;
    flex-direction: column;
   align-items: center;

}