.navbar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo{
padding: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    /* Pista: ¿Cómo alinear los items? */
}

.nav-links li {
    margin: 0.5rem 0;
}

.nav-links a {
    color: inherit;
    text-decoration: none;
}

/* --- MEDIA QUERY PARA DESKTOP --- */
@media (min-width: 768px) {
    .navbar {
    display: flex;
    background-color: #f0f0f0;
    color: #333;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 10px;
    }

    .nav-links {
        display: flex
        
    }

    .nav-links li {
        margin: 0 1rem;
    }
}